@{
    Layout = null;
}

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>PartyInvites</title>
</head>

<body>
    <div class="text-center m-2">
        <h2>
            PartyInvites Small Started
        </h2>
        <a class="btn btn-primary" asp-action="Register">Register Now</a>
    </div>
</body>

</html