@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Register</title>
</head>

<body>
    <h5 class="bg-primary text-white text-center m-2 p-2">REGISTER</h5>
    <form asp-action="Register" method="post" class="m-2">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Name" class="mx-5">Your name:</label>
            <input asp-for="Name" />
        </div>
        <div class="form-group m-2">
            <label asp-for="Email" class="mx-5">Your email:</label>
            <input asp-for="Email" />
        </div>
        <div class="form-group m-2">
            <label asp-for="Phone" class="mx-5">Your phone:</label>
            <input asp-for="Phone" />
        </div>
        <div class="form-group m-2">
            <label asp-for="WillAttend" class="form-label">Will you attend?</label>
            <select asp-for="WillAttend" class="form-control">
                <option value="">Choose an option</option>
                <option value="true">Yes, I'll be there</option>
                <option value="false">No, I can't come</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Register</button>
    </form>
</body>

</html>