@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>REGISTER</title>
</head>

<body>
    <div>
        This is register form
    </div>
</body>

</html>