@{
    #pragma warning disable CS8602
}
@model IEnumerable<string>

@{
    Layout = null;
}

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
    <ul>
        @foreach (var row in Model!)
        {
            <li>@row</li>
        }
    </ul>
</body>

</html>